{% include '@realestate/page/header.html.twig' %}
<main>
	<section class="pt-0 mb-4">
		<div class="container position-relative">
			<div class="rounded-3 p-4 p-sm-5" style="background-image: url({{ active_theme_path() }}/img/header.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;">
				<div class="row justify-content-between pt-0 pb-5">
					<div class="col-md-7 col-lg-8 col-xxl-7 pb-5 mb-0 mb-lg-5">
						<div class="display-3 mb-4"><strong>{{ 'Easy Way to Find a Perfect Property'|t }}</strong></div>
						<div class="h4"><div class="badge bg-success">{{ 'Let\'s find the right option especially for you!'|t }}</div></div>
					</div>
					<div class="col-md-5 col-lg-4 col-xl-4 mb-3 mb-sm-0">
						{{ page.top_property }}
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: -4rem !important;">
				<div class="col-11 mx-auto">
					{{ page.search_rental }}
				</div>
			</div>
		</div>
	</section>
	<div class="container">
	{{ page.content }}
	</div>
</main>
{% include '@realestate/page/footer.html.twig' %}
