<div class="card shadow p-2 pb-0 mb-3">
  <a href="{{ url }}">
    <div class="rounded-3 overflow-hidden position-relative">
      {% if node.field_key_features | length %}
        <div class="position-absolute top-0 start-0 z-index-1 m-4">
          {% for key, item in node.field_key_features %}
              <div class="badge bg-danger text-white">{{ item.entity.name.value }}</div>
          {% endfor %}
        </div>
      {% endif %}
      <img src="{{ node.field_photos.0.entity.uri.value|image_style('card') }}" class="card-img" alt="{{ label }}">
      <div class="bg-overlay bg-dark opacity-4"></div>
    </div>
  </a>
  <div class="card-body px-2">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="badge bg-primary bg-opacity-10 text-primary">{{ node.field_bedroom.value }} {{ 'Bedroom'|t }}, {{ node.field_bathroom.value }} {{ 'Bathroom'|t }}</div>
    </div>
    <h6 class="card-title">{{ label }}</h6>
    <div class="d-flex justify-content-between align-items-center mb-0">
      <h6 class="text-success mb-0">{{ content.field_price_per_month.0 }}{% if node.field_type.0.entity.label == 'Properties to rent'|t %}<span class="fw-light">/{{ 'month'|t }}</span>{% endif %}</h6>
      <div class="mt-2 mt-sm-0">
        <a href="{{ url }}" class="btn btn-sm btn-primary mb-0 w-100">{{ 'View Detail'|t }}</a>
      </div>
    </div>
  </div>
</div>
